section#skills {
  padding: 2rem 0;
}

section#skills h4 {
  margin-bottom: 0.5rem;
}

section#skills h2 {
  margin-bottom: 3rem;
}

.development_experience_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.development_experience_container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.development_experience_container > div:hover,
.other_experience_container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.development_experience_container > div h3,
.other_experience_container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience_content {
  margin-left: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 0.5rem;
}

.container.other_experience_container {
  width: 40%;
}

.other_experience_container > div {
  background: var(--color-bg-variant);
  padding: 1rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience_content_others {
  margin-left: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 0.5rem;
}

.experience_item {
  display: flex;
  gap: 1rem;
}
/* ==================== MEDIA QUERIS (VERY LARGE DEVICES) ====================== */

@media screen and (min-width: 2040px) {
}

/* ==================== MEDIA QUERIS (MEDIUM-LARGE DEVICES) ====================== */

@media screen and (min-width: 800px) {
  .experience_content {
    margin-left: 60px;
    gap: 10px;
  }

  .experience_others {
    text-align: center;
    margin-left: 10px;
  }

  .experience_content_others {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin-left: 10px;
  }

  .experience_item {
    display: flex;
    align-items: center;
    padding: 1px;
  }
}

/* ==================== MEDIA QUERIS (MEDIUM DEVICES) ====================== */

@media screen and (max-width: 1024px) {
  .development_experience_container {
    grid-template-columns: 1fr;
  }
  .development_experience_container > div {
    width: 70%;
    padding: 2rem;
    margin: 0 auto;
  }

  .container.other_experience_container {
    width: 65%;
    padding: 1rem 1rem;
  }

  .experience_content {
    padding: 1rem;
  }

  .experience_others {
    text-align: center;
  }

  .experience_content_others {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin-left: 10px;
  }

  .experience_item {
    display: flex;
    align-items: center;
    padding: 1px;
  }
}

/* ==================== MEDIA QUERIS (SMALL DEVICES) ====================== */

@media screen and (max-width: 600px) {
  .development_experience_container {
    gap: 1rem;
  }

  .development_experience_container > div {
    width: 100%;
    padding: 2rem 1rem;
  }

  .container.other_experience_container {
    width: 95%;
    padding: 1rem 1rem;
  }

  .experience_content {
    padding: 1rem;
  }

  .experience_others {
    text-align: center;
  }

  .experience_content_others {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin-left: 5px;
  }

  .experience_item {
    display: flex;
    align-items: center;
    padding: 1px;
  }
}
