header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  padding-top: 15rem;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* =============== CTA ================ */

.cta {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ==================== MEDIA QUERIS (SMALL DEVICES) ====================== */

@media screen and (max-width: 600px) {
  header {
    overflow: visible;
  }
}
